/************************************************************
/////////////////////////////////////////////////////////////

COMP 2681, TRU Open Learning
Final Project
Dog Walking Business Website

Page: Contact Us Page Style Sheet
Author: Kassandra Haftner
Last Updated: 12 Oct 2024

A CSS style sheet for the Contact Us page.

File: contact-styles.css

/////////////////////////////////////////////////////////////
************************************************************/

/*-----------------------------------------------------------
    CONTACT PAGE STYLES
-----------------------------------------------------------*/

.contact-main {
    background-blend-mode: soft-light;
    background-color: var(--transparent-white3);
    background-image: url(../media/contact-page-wallpaper.jpg);
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

.contact-page-header {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/contact-page-banner.jpg);
    background-size: cover;
    background-position: 30% 72%;
    background-repeat: no-repeat;
}

.contact-form {
    padding-top: 1rem;
    margin: 0 auto 5rem;
    max-width: 95%;
}

.contact-form p {
    line-height: 2.5rem;
    padding: 0.5rem;
}

.contact-form p.required-fields {
    background-color: var(--transparent-white);
    border: 1px dotted var(--transparent-purple);
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-top: -1rem auto 2rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

form {
    background-color: var(--transparent-dark-green);
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    font-family: var(--body);
    padding: 0.5rem;
}

form legend {
    font-variant: small-caps;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

form fieldset {
    border: 1px solid var(--dark-green);
    border-radius: 0.25rem;
    margin: 0 auto;
    padding: 1rem;
}

form fieldset:last-of-type {
    border: none;
}

form fieldset#request-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form ::placeholder {
    font-size: 0.85rem;
    font-style: italic;
}

input[type="text"],
input[type="tel"],
input[type="date"] {
    background-color: var(--white);
    border-radius: 0.25rem;
    height: 2rem;
}

input,
textarea,
select,
input[type="date"] {
    border: 1px solid var(--black);
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    padding-left: 0.5rem;
    width: 100%;
}

select,
textarea {
    background-color: var(--white);
    border-radius: 0.25rem;
}

select {
    height: 2rem;
    padding-left: 0.5rem;
}

input[type="submit"],
input[type="reset"] {
    background-color: var(--lightest-green);
    border: 1px solid var(--black);
    border-radius: 0.25rem;
    height: 2.75rem;
    margin: 0.5rem;
    padding: 0 1rem;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
select:hover,
textarea:hover,
input[type="text"]:active,
input[type="tel"]:active,
input[type="date"]:active,
select:active,
textarea:active {
    background-color: var(--light-purple);
    border: 1px solid var(--black);
}

select {
    overflow: hidden;
    padding-right: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submit-button,
.reset-button,
input[type="date"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

input:focus:valid,
textarea:focus:valid,
select:focus:valid {
    background: var(--valid) url(../media/valid.png) 95% 50% no-repeat;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    background: var(--invalid) url(../media/invalid.png) 95% 50% no-repeat;
}

input#desiredDate:valid,
input#desiredDate:invalid,
select:focus:valid,
select:focus:invalid {
    background-position: 90% 50%;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="reset"]:active,
input#submit-button:focus:valid,
input#submit-button:focus:invalid,
input#reset-button:focus:valid,
input#reset-button:focus:invalid {
    background-color: var(--dark-green);
    border: 1px solid var(--white);
    box-shadow: var(--box-shadow);
    color: var(--white);
    text-shadow: var(--text-shadow);
}

/*-----------------------------------------------------------
    MEDIA QUERIES
-----------------------------------------------------------*/

@media (min-width: 48em) {
    .contact-form {
        max-width: 45rem;
    }

    form label {
        padding-left: 0.25rem;
    }

    form {
        padding: 1rem;
    }

    form fieldset {
        margin: 1rem;
    }

    form legend {
        letter-spacing: 0.4rem;
    }

    select {
        height: 2.5rem;
    }

    label {
        padding-bottom: 0.25rem;
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"] {
        height: 2.5rem;
    }

    .form-field {
        align-items: center;
        flex-direction: row;
    }

    .form-field label {
        font-size: 1.1rem;
        font-weight: 500;
        width: 12rem;
    }

    input,
    textarea,
    select {
        margin: 0;
    }

    .form-field {
        margin: 0.5rem 1rem 1rem;
    }

    form fieldset#personal-info input[type="text"],
    form fieldset#personal-info input[type="tel"],
    form fieldset#personal-info select {
        width: 24rem;
    }

    form fieldset#request-info .form-field {
        display: flex;
        flex-direction: column;
        width: 36rem;
    }

    form fieldset#request-info .form-field label,
    .contact-check {
        width: 100%;
    }

    .submit-button,
    .reset-button {
        font-weight: 500;
        width: 30%;
    }

    input:focus:valid,
    textarea:focus:valid,
    select:focus:valid,
    input:focus:invalid,
    textarea:focus:invalid,
    select:focus:invalid {
        background-position: 98% 50%;
    }

    select:focus:valid,
    select:focus:invalid,
    input#desiredDate:valid,
    input#desiredDate:invalid {
        background-position: 94% 50%;
    }

    textarea:focus:valid,
    textarea:focus:invalid {
        background-position: 98% 96%;
    }

    form ::placeholder {
        font-size: inherit;
    }
}
