/************************************************************
/////////////////////////////////////////////////////////////

COMP 2681, TRU Open Learning
Final Project
Dog Walking Business Website

Page: Reset Style Sheet
Author: Kassandra Haftner
Last Updated: 20 Sep 2024

My reset style sheet for this assignment.

File: reset_styles.css

/////////////////////////////////////////////////////////////
************************************************************/

/*-----------------------------------------------------------
    SOME OF THE TEXTBOOK RECOMMENDED RESET SETTINGS
-----------------------------------------------------------*/

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
    background: transparent;
    /* Sets the font size to equal to the font size of the parent. */
    font-size: 100%;
    /* Removes all the default margin spaces. */
    margin: 0;
    /* Removes all the padding spaces. */
    padding: 0;
    /* Aligns all the content with the baseline. */
    vertical-align: baseline;
}

nav ul {
    /* Does not display the bullets for OLs in nav lists. */
    list-style: none;
    list-style-image: none;
}

nav a {
    /* Does not underline the links in a nav list. */
    text-decoration: none;
}

/*-----------------------------------------------------------
    MY ADDITIONAL PREFERRED RESET SETTINGS
-----------------------------------------------------------*/

html {
    /* Box Sizing Reset */
    box-sizing: border-box;
    line-height: 1.15;
}

*,
*:before,
*:after {
    /* Box Sizing Reset */
    box-sizing: inherit;
}

body {
    margin: 0 auto;
}

b,
strong {
    font-weight: bolder;
}

img,
picture,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
