/************************************************************
/////////////////////////////////////////////////////////////

COMP 2681, TRU Open Learning
Final Project
Dog Walking Business Website

Page: Main Style Sheet
Author: Kassandra Haftner
Last Updated: 26 Sep 2024

My main CSS style sheet for the assignment.

File: styles.css

/////////////////////////////////////////////////////////////
************************************************************/

/*-----------------------------------------------------------
    VARIABLES
-----------------------------------------------------------*/

:root {
    --black: #000000;
    --black: hsl(0, 0%, 0%);
    --almost-black: #022c16;
    --almost-black: hsl(119, 96%, 9%);
    --darkest-green: #09371f;
    --darkest-green: hsl(149, 72%, 13%);
    --dark-green: #1c5838;
    --dark-green: hsl(148, 52%, 23%);
    --darkish-green: #3d7256;
    --darkish-green: hsl(148, 30%, 34%);
    --alternate-dark-green: #375b58;
    --alternate-dark-green: hsl(175, 25%, 29%);
    --alternate-green: #61827f;
    --alternate-green: hsl(175, 15%, 45%);
    --green: #5ea680;
    --green: hsl(148, 29%, 51%);
    --lightish-green: #8bd5ae;
    --lightish-green: hsl(148, 47%, 69%);
    --light-green: #c6fdda;
    --light-green: hsl(142, 93%, 88%);
    --lightest-green: #dbfde7;
    --lightest-green: hsl(141, 89%, 93%);
    --gold: #eccb70;
    --gold: hsl(44, 77%, 68%);
    --darker-purple: #4a315f;
    --darker-purple: hsl(273, 32%, 28%);
    --purple: #8a70a1;
    --purple: hsl(272, 21%, 54%);
    --lighter-purple: #a393b0;
    --lighter-purple: hsl(273, 16%, 63%);
    --dusty-pink: #e8c0b8;
    --dusty-pink: hsl(10, 51%, 82%);
    --dark-dusty-pink: #deb1a8;
    --dark-dusty-pink: hsl(10, 24%, 76%);
    --pink: #f8c5cd;
    --pink: hsl(351, 78%, 87%);
    --light-pink: #fce8eb;
    --light-pink: hsl(351, 77%, 95%);
    --white: #ffffff;
    --white: hsl(0, 0%, 100%);

    /* Box Shadow */
    --box-shadow: 1px 1px 3px #807e7ec9;
    --heading-text-shadow: 2px 2px 1px #4d4d4d;
    --nav-text-shadow: 0px 1px 1px #808080c9;
    --text-shadow: 1px 1px 1px #4d4d4d;

    /* Text Backgrounds */
    --transparent-pink: #f5d2d67e;
    --transparent-pink-2: #ff7bab4f;
    --transparent-white: #ffffff88;

    /* Font Styles */
    --fancy-heading: "Alice", serif;
    --body: "Poppins", sans-serif;
    --heading: "Playfair", serif;
}

/*-----------------------------------------------------------
    SCROLLBAR STYLES
-----------------------------------------------------------*/

*::-webkit-scrollbar-thumb {
    background: var(--green);
}

*::-webkit-scrollbar-track {
    background: var(--lightest-green);
}

*::-webkit-scrollbar {
    max-width: 16px;
    max-height: 16px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--green) var(--lightest-green);
}

/*-----------------------------------------------------------
    GENERAL STYLES FOR ALL PAGES
-----------------------------------------------------------*/

body {
    background-color: var(--lightest-green);
}

main {
    margin: 3rem auto 0;
}

h1,
h2 {
    color: var(--green);
    font-family: var(--heading);
    font-size: clamp(3rem, 6vh, 5rem);
    margin: 1rem 0;
    text-align: center;
    text-shadow: var(--text-shadow);
}

p {
    font-family: var(--body);
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin: 1rem 0;
}

a,
a:visited {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--black);
}

/*-----------------------------------------------------------
    NAVIGATION BAR
-----------------------------------------------------------*/

.nav-bar {
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    font-family: var(--heading);
    gap: 0;
    min-height: 11rem;
    justify-content: center;
    justify-content: flex-end;
    left: 0;
    padding: 0.5rem 0 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    font-weight: 900;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: var(--light-pink);
    border-top: 1px solid var(--darkest-green);
    border-bottom: 1px solid var(--darkest-green);
}

nav li {
    padding: 0;
}

nav a,
nav a:visited {
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s ease;
    display: block;
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
    color: var(--almost-black);
}

.nav-bar a svg {
    width: 8rem;
    height: auto;
    padding: 0;
    margin: -3rem auto 0;
}

nav a:hover {
    color: var(--white);
    background-color: var(--darkish-green);
}

.logo {
    display: flex;
    position: relative;
}

.logo p {
    font-family: var(--heading);
    color: black;
    margin-top: -2rem;
    font-size: 1.75rem;
}

.logo p span {
    text-transform: uppercase;
    color: var(--green);
    font-style: italic;
    font-weight: 900;
    font-size: 1.25rem;
    padding-right: 0.25rem;
}

.logo p span:last-of-type {
    font-size: 2rem;
    padding-left: .25rem;
}

/*-----------------------------------------------------------
    INDEX PAGE -- ABOVE FOLD
-----------------------------------------------------------*/

.top-wrapper .above-fold-content {
    position: relative;
    margin-top: 11rem;
    background: url(../media/home-top-banner.jpg);
    background-position-y: 62%;
    background-color: rgba(168, 218, 168, 0.208);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    background-blend-mode: lighten;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-wrapper h1 {
    color: var(--light-pink);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    backdrop-filter: blur(5px);
    background-color: #00000044;
    border: 1px solid var(--light-pink);
    border-radius: .5rem;
    display: inline;
    padding: 1.5rem 2rem;
    font-family: var(--fancy-heading);
    font-weight: 400;
}

/*-----------------------------------------------------------
    DOWN & UP ARROWS (DOWN ARROW ONLY ON INDEX CURRENTLY)
-----------------------------------------------------------*/

/* Pasted from my other assignment, adjust later...

.down-arrow-container {
    height: 0;
    position: relative;
}

.down-arrow-container,
.up-arrow-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.up-arrow-container {
    padding: 0 0 2rem;
}

@keyframes bounce {
    0% {
        top: -1rem;
    }

    50% {
        top: -2rem;
    }

    100% {
        top: -1rem;
    }
}

.down-arrow-container a {
    margin-top: 5rem;
    position: relative;
    top: -11rem;
}

.down-arrow-container svg,
.up-arrow-container svg {
    animation: bounce 2s infinite;
    fill: var(--main-pink);
    height: auto;
    position: relative;
    transition: all 0.4s ease;
    width: 8rem;
}

.down-arrow-container svg {
    display: none;
}

.up-arrow-container svg {
    margin: 2rem auto 2.5rem;
    position: static;
    width: 6rem;
}

.down-arrow-container svg:hover,
.up-arrow-container svg:hover {
    fill: var(--black);
    transition: 0.5s ease-in-out;
}

.up-arrow-container p {
    font-size: 0.75rem;
    font-weight: bold;
    margin: -4rem 0 0;
}

*/

/*-----------------------------------------------------------
    INDEX PAGE -- BELOW FOLD
-----------------------------------------------------------*/

/* Pasted from my other assignment, adjust later...

.below-fold-wrapper {
    background-blend-mode: lighten;
    background-color: var(--transparent-pink);
    background-image: url(../images/flowers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.below-fold-content {
    border-top: 2px solid var(--light-pink);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.below-fold-content h2 {
    margin: 4rem auto 0;
    scroll-margin-top: 10rem;
}

.below-fold-content article {
    margin: 0 auto;
}

.below-fold-content p {
    padding: 0 0 1rem;
    text-align: center;
}

.below-fold-content ul {
    background-color: var(--transparent-pink);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    font-family: var(--manrope);
    line-height: 1.5;
    list-style: none;
    margin: 0 auto;
    max-width: 90%;
    padding: 1.5rem 1rem;
}

.below-fold-content li {
    margin: 0.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    position: relative;
}

.below-fold-content ul li::before {
    content: url(../images/diamond-icon.png);
    left: 0;
    position: absolute;
    top: 2px;
}

*/

/*-----------------------------------------------------------
    FOOTER CONTENT
-----------------------------------------------------------*/

.site-footer {
    background-color: var(--light-pink);
    margin: 0 auto;
    text-align: center;
    min-height: 10rem;
    width: 100%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.site-footer p.connect {
    font-family: var(--heading);
    padding-top: 2rem;
    margin-bottom: -1.5rem;
}

.site-footer p {
    font-family: var(--heading);
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 0.5rem 1rem;
    text-align: center;
}

.social-media-icons ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: none;
    border: none;
}

.social-media-icons ul li {
    padding: 0 0.5rem;
}

.social-media-icons a {
    padding: 0;
}

.social-media-icons a:hover {
    background: none;
}

.social-media-icons svg {
    fill: var(--dark-green);
    height: auto;
    width: 2rem;
}

.social-media-icons svg:hover {
    fill: var(--lightish-green);
    transition: 0.3s ease-out;
}

/*-----------------------------------------------------------
    SECOND PAGE STYLES
-----------------------------------------------------------*/

/*-----------------------------------------------------------
    MEDIA QUERIES
-----------------------------------------------------------*/