/************************************************************
/////////////////////////////////////////////////////////////

COMP 2681, TRU Open Learning
Final Project
Dog Walking Business Website

Page: Main Style Sheet
Author: Kassandra Haftner
Last Updated: 26 Sep 2024

My main CSS style sheet for the assignment.

File: styles.css

/////////////////////////////////////////////////////////////
************************************************************/

/*-----------------------------------------------------------
    VARIABLES
-----------------------------------------------------------*/

:root {
    --black: #000000;
    --black: hsl(0, 0%, 0%);
    --almost-black: #022c16;
    --almost-black: hsl(119, 96%, 9%);
    --darkest-green: #09371f;
    --darkest-green: hsl(149, 72%, 13%);
    --dark-green: #1c5838;
    --dark-green: hsl(148, 52%, 23%);
    --darkish-green: #3d7256;
    --darkish-green: hsl(148, 30%, 34%);
    --alternate-dark-green: #375b58;
    --alternate-dark-green: hsl(175, 25%, 29%);
    --alternate-green: #61827f;
    --alternate-green: hsl(175, 15%, 45%);
    --green: #5ea680;
    --green: hsl(148, 29%, 51%);
    --lightish-green: #8bd5ae;
    --lightish-green: hsl(148, 47%, 69%);
    --light-green: #c6fdda;
    --light-green: hsl(142, 93%, 88%);
    --lightest-green: #dbfde7;
    --lightest-green: hsl(141, 89%, 93%);
    --gold: #eccb70;
    --gold: hsl(44, 77%, 68%);
    --darker-purple: #4a315f;
    --darker-purple: hsl(273, 32%, 28%);
    --purple: #8a70a1;
    --purple: hsl(272, 21%, 54%);
    --lighter-purple: #a393b0;
    --lighter-purple: hsl(273, 16%, 63%);
    --dusty-pink: #e8c0b8;
    --dusty-pink: hsl(10, 51%, 82%);
    --dark-dusty-pink: #deb1a8;
    --dark-dusty-pink: hsl(10, 24%, 76%);
    --pink: #f8c5cd;
    --pink: hsl(351, 78%, 87%);
    --light-pink: #fce8eb;
    --light-pink: hsl(351, 77%, 95%);
    --white: #ffffff;
    --white: hsl(0, 0%, 100%);

    /* Box Shadow */
    --box-shadow: 1px 1px 3px #807e7ec9;
    --heading-text-shadow: 2px 2px 1px #4d4d4d;
    --nav-text-shadow: 0px 1px 1px #808080c9;
    --text-shadow: 1px 1px 1px #4d4d4d;

    /* Text Backgrounds */
    --transparent-green: #8bd5ae49;
    --transparent-dark-green: #277a5357;
    --transparent-pink: #fce8eb44;
    --transparent-purple: #a393b0bd;
    --transparent-white: #ffffff88;

    /* Font Styles */
    --fancy-heading: "Alice", serif;
    --body: "Poppins", sans-serif;
    --heading: "Playfair", serif;
}

/*-----------------------------------------------------------
    SCROLLBAR STYLES
-----------------------------------------------------------*/

*::-webkit-scrollbar-thumb {
    background: var(--green);
}

*::-webkit-scrollbar-track {
    background: var(--light-pink);
}

*::-webkit-scrollbar {
    max-width: 16px;
    max-height: 16px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--green) var(--light-pink);
}

/*-----------------------------------------------------------
    GENERAL STYLES FOR ALL PAGES
-----------------------------------------------------------*/

body {
    background-color: var(--white);
}

main {
    margin: 3rem auto 0;
}

h1,
h2 {
    color: var(--green);
    font-family: var(--heading);
    font-size: clamp(3rem, 6vh, 5rem);
    margin: 1rem 0;
    text-align: center;
    text-shadow: var(--text-shadow);
}

p {
    font-family: var(--body);
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin: 1rem 0;
}

a,
a:visited {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--black);
}

/*-----------------------------------------------------------
    NAVIGATION BAR & HAMBURGER MENU
-----------------------------------------------------------*/

.nav-bar {
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    font-family: var(--heading);
    gap: 0;
    min-height: 5rem;
    justify-content: space-between;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    font-weight: 900;
}

ul.nav-list {
    background-color: var(--light-pink);
    border-top: 1px solid var(--darkest-green);
    border-bottom: 1px solid var(--darkest-green);
    font-size: 1.25rem;
    list-style: none;
    padding: 0;
    position: absolute;
    right: -100%;
    text-align: center;
    transition: right 0.5s ease-out, opacity 0.5s ease-out;
    visibility: hidden;
    width: 100%;
}

.nav-list li {
    border-radius: 0.5rem;
    font-size: 1.05rem;
    margin: 0.5rem;
    padding: 1rem;
}

nav a,
nav a:visited {
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s ease;
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    color: var(--almost-black);
}

.nav-bar nav a:hover {
    color: var(--white);
    background-color: var(--darkish-green);
}

.logo a {
    display: flex;
}

.logo svg {
    width: 6rem;
}

.logo p {
    font-family: var(--heading);
    color: black;
    font-size: 1.25rem;
    width: 82%;
    padding-top: 0.75rem;
}

.logo p span {
    text-transform: uppercase;
    color: var(--green);
    font-style: italic;
    font-weight: 900;
    font-size: 1.05rem;
    padding-right: 0.25rem;
}

.logo p span:last-of-type {
    font-size: 1.5rem;
    padding-left: 0.25rem;
}

button.menu-button,
button.close-menu {
    background: var(--light-pink);
    border: 1px solid var(--darkish-green);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
}

button.close-menu {
    background-color: var(--darkish-green);
    box-shadow: var(--box-shadow);
    display: none;
}

.menu-button svg {
    fill: var(--darkish-green);
    width: 1.25rem;
}

.close-menu svg {
    fill: var(--white);
    width: 1.25rem;
}

.nav-list.menu-clicked {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
    right: 0;
    top: 5rem;
    visibility: visible;
}

.nav-list.menu-closing {
    opacity: 0;
    right: -100%;
    transition: none;
    visibility: hidden;
}

/*-----------------------------------------------------------
    INDEX PAGE -- ABOVE FOLD
-----------------------------------------------------------*/

.top-wrapper .above-fold-content {
    align-items: center;
    background: url(../media/home-top-banner.jpg);
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-position: 50% 62%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    min-height: 60vh;
    position: relative;
}

.top-wrapper h1 {
    color: var(--light-pink);
    text-shadow: var(--text-shadow);
    font-size: clamp(1.5rem, 3vw, 3rem);
    backdrop-filter: blur(5px);
    background-color: #00000044;
    border: 1px solid var(--light-pink);
    border-radius: 0.5rem;
    display: inline;
    padding: 0.5rem;
    font-family: var(--fancy-heading);
    font-weight: 400;
    max-width: 80%;
}

/*-----------------------------------------------------------
    DOWN & UP ARROWS (DOWN ARROW ONLY ON INDEX CURRENTLY)
-----------------------------------------------------------*/

/* Pasted from my other assignment, adjust later...

.down-arrow-container {
    height: 0;
    position: relative;
}

.down-arrow-container,
.up-arrow-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.up-arrow-container {
    padding: 0 0 2rem;
}

@keyframes bounce {
    0% {
        top: -1rem;
    }

    50% {
        top: -2rem;
    }

    100% {
        top: -1rem;
    }
}

.down-arrow-container a {
    margin-top: 5rem;
    position: relative;
    top: -11rem;
}

.down-arrow-container svg,
.up-arrow-container svg {
    animation: bounce 2s infinite;
    fill: var(--main-pink);
    height: auto;
    position: relative;
    transition: all 0.4s ease;
    width: 8rem;
}

.down-arrow-container svg {
    display: none;
}

.up-arrow-container svg {
    margin: 2rem auto 2.5rem;
    position: static;
    width: 6rem;
}

.down-arrow-container svg:hover,
.up-arrow-container svg:hover {
    fill: var(--black);
    transition: 0.5s ease-in-out;
}

.up-arrow-container p {
    font-size: 0.75rem;
    font-weight: bold;
    margin: -4rem 0 0;
}

*/

/*-----------------------------------------------------------
    INDEX PAGE -- BELOW FOLD
-----------------------------------------------------------*/

/* Pasted from my other assignment, adjust later...

.below-fold-wrapper {
    background-blend-mode: lighten;
    background-color: var(--transparent-pink);
    background-image: url(../images/flowers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.below-fold-content {
    border-top: 2px solid var(--light-pink);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.below-fold-content h2 {
    margin: 4rem auto 0;
    scroll-margin-top: 10rem;
}

.below-fold-content article {
    margin: 0 auto;
}

.below-fold-content p {
    padding: 0 0 1rem;
    text-align: center;
}

.below-fold-content ul {
    background-color: var(--transparent-pink);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    font-family: var(--manrope);
    line-height: 1.5;
    list-style: none;
    margin: 0 auto;
    max-width: 90%;
    padding: 1.5rem 1rem;
}

.below-fold-content li {
    margin: 0.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    position: relative;
}

.below-fold-content ul li::before {
    content: url(../images/diamond-icon.png);
    left: 0;
    position: absolute;
    top: 2px;
}

*/

/*-----------------------------------------------------------
    FOOTER CONTENT
-----------------------------------------------------------*/

.site-footer {
    background-color: var(--light-pink);
    margin: 0 auto;
    text-align: center;
    min-height: 10rem;
    width: 100%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.site-footer p.connect {
    font-family: var(--heading);
    padding-top: 2rem;
    margin-bottom: -1.5rem;
}

.site-footer p {
    font-family: var(--heading);
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 0.5rem 1rem;
    text-align: center;
}

.social-media-icons ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: none;
    border: none;
}

.social-media-icons ul li {
    padding: 0 0.5rem;
}

.social-media-icons a {
    padding: 0;
}

.social-media-icons a:hover {
    background: none;
}

.social-media-icons svg {
    fill: var(--dark-green);
    height: auto;
    width: 2rem;
}

.social-media-icons svg:hover {
    fill: var(--lightish-green);
    transition: 0.3s ease-out;
}

/*-----------------------------------------------------------
    SHARED STYLES
-----------------------------------------------------------*/

.other-top-wrapper {
    position: relative;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--alternate-green);
    margin-top: 11rem;
}

.other-top-wrapper h1 {
    color: var(--light-pink);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    backdrop-filter: blur(5px);
    background-color: #00000044;
    border: 1px solid var(--light-pink);
    border-radius: 0.5rem;
    display: inline;
    padding: 1rem 1.5rem;
    font-family: var(--fancy-heading);
    font-weight: 400;
}

/*-----------------------------------------------------------
    SERVICES PAGE STYLES
-----------------------------------------------------------*/

.services-top-wrapper {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/services-page-banner.jpg);
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------
    ABOUT PAGE STYLES
-----------------------------------------------------------*/

.about-page-top-wrapper {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/about-page-banner.jpg);
    background-size: cover;
    background-position: 50% 45%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------
    CONTACT PAGE STYLES
-----------------------------------------------------------*/

.contact-top-wrapper {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/contact-page-banner.jpg);
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------
    GALLERY PAGE STYLES
-----------------------------------------------------------*/

.gallery-top-wrapper {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/gallery-page-banner.jpg);
    background-size: cover;
    background-position: 50% 75%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------
    BLOG PAGE STYLES
-----------------------------------------------------------*/

.blog-top-wrapper {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/blog-page-banner.jpg);
    background-size: cover;
    background-position: 50% 55%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------
    REQUIREMENTS PAGE STYLES
-----------------------------------------------------------*/

.req-page-top-wrapper {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/requirements-page-banner.jpg);
    background-size: cover;
    background-position: 50% 45%;
    background-repeat: no-repeat;
}

.requirements-list {
    max-width: 50rem;
    margin: 0 auto;
}

.requirements-list h2 {
    color: var(--purple);
    font-size: 2rem;
    text-shadow: var(--nav-text-shadow);
    border-bottom: 1px solid var(--alternate-dark-green);
    margin: 0 auto 3rem;
}

.requirements-list h2:first-of-type {
    padding-top: 4rem;
}

.requirements-list ul,
.requirements-list p {
    font-size: 1rem;
    font-family: var(--body);
    max-width: 45rem;
    margin: 2rem;
    line-height: 2rem;
}

.requirements-list ul:last-of-type {
    padding-bottom: 4rem;
    margin-bottom: 0;
}
/*-----------------------------------------------------------
    MEDIA QUERIES
-----------------------------------------------------------*/

@media (min-width: 65em) {
    /* Index Top */
    .top-wrapper h1 {
        max-width: none;
        padding: 1.5rem 2rem;
    }

    .top-wrapper .above-fold-content {
        margin-top: 11rem;
    }

    /* Navigation Bar */

    button.menu-button {
        display: none;
    }

    .logo a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo p {
        font-size: 1.75rem;
        padding-top: 0.75rem;
    }

    .logo p span {
        font-size: 1.25rem;
    }

    .logo p span:last-of-type {
        font-size: 2rem;
    }

    .logo a svg {
        width: 8rem;
        height: auto;
        padding: 0;
        margin: 0.5rem auto -4rem;
        position: relative;
        top: -1.5rem;
    }

    .logo p {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .nav-bar {
        flex-direction: column;
    }

    .main-nav {
        width: 100%;
    }

    .main-nav ul {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        position: relative;
        opacity: 1;
        top: 0;
        right: 0;
        visibility: visible;
    }

    .main-nav li {
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        font-size: 1.25rem;
    }

    nav a,
    nav a:visited {
        letter-spacing: 0.15rem;
        padding: 0.5rem 1rem;
    }
}
