/************************************************************
/////////////////////////////////////////////////////////////

COMP 2681, TRU Open Learning
Final Project
Dog Walking Business Website

Page: Testimonials Page Style Sheet
Author: Kassandra Haftner
Last Updated: 12 Oct 2024

A CSS style sheet for the Testimonials page.

File: testimonials-styles.css

/////////////////////////////////////////////////////////////
************************************************************/

/*-----------------------------------------------------------
    MAIN STYLES
-----------------------------------------------------------*/

.testimonials-main {
    background-blend-mode: soft-light;
    background-color: var(--transparent-white);
    background-image: url(../media/testimonials-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 30% 35%;
    background-repeat: no-repeat;
}

.testimonials-page-header {
    background-blend-mode: soft-light;
    background-color: var(--transparent-pink);
    background-image: url(../media/testimonials-page-banner.jpg);
    background-size: cover;
    background-position: 30% 35%;
    background-repeat: no-repeat;
}

.client-testimonials {
    font-family: var(--body);
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 95%;
}

.individual-testimonial {
    margin: 1rem auto;
    background-color: var(--transparent-white3);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 1rem;
}

.individual-testimonial img {
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--transparent-green);
}

blockquote {
    background-color: var(--transparent-white2);
    padding: 2rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid var(--transparent-dark-green);
    line-height: 2rem;
    font-weight: 300;
}

blockquote cite {
    display: block;
    padding-top: 1rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
}

.testimonials-bottom h2 {
    border-top: 1px solid var(--transparent-black);
    border-bottom: 1px solid var(--transparent-black);
    backdrop-filter: blur(10px);
    padding: 1rem;
    color: var(--black);
    margin-bottom: 0;
    font-size: clamp(1.25rem, 5vw, 2.5rem);
    letter-spacing: 0.25rem;
    text-shadow: var(--light-text-shadow);
}

.testimonials-bottom video {
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

/*-----------------------------------------------------------
    MEDIA QUERIES
-----------------------------------------------------------*/

@media (min-width: 30em) {
    .individual-testimonial {
        max-width: 28rem;
    }
}

@media (min-width: 50em) {
    .client-testimonials {
        max-width: 98%;
    }
    .individual-testimonial {
        display: flex;
        max-width: 95%;
        justify-content: space-between;
        gap: 1rem;
    }

    .individual-testimonial:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .individual-testimonial img {
        max-width: 40%;
        border-radius: 0.5rem;
    }

    .individual-testimonial blockquote {
        max-width: 60%;
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../media/walking-dog-silhouette.png);
        background-blend-mode: soft-light;
        background-size: 10rem;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 70em) {
    .individual-testimonial blockquote {
        background-size: 15rem;
        font-size: 1.15rem;
        line-height: 2.5rem;
        padding: 2rem;
    }
}

@media (min-width: 95em) {
    .client-testimonials {
        max-width: 92rem;
    }

    .individual-testimonial blockquote {
        font-size: 1.25rem;
        line-height: 3rem;
        padding: 3rem;
        background-size: 20rem;
    }
}
